<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hecc.costcenter.mapper.PriceRuleDao">
    <resultMap id="ResultMap" type="PriceRuleEntity">
        <result property="id" column="id"/>
        <result property="createDate" column="create_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="version" column="version"/>
        <result property="createName" column="create_name"/>
        <result property="modifyName" column="modify_name"/>
        <result property="ruleName" column="rule_name"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="useful" column="useful"/>
        <result property="del" column="del"/>
        <result property="salePrice" column="sale_price"/>
        <result property="renewPrice" column="renew_price"/>
    </resultMap>

    <sql id="listWhere">
        where product_id = #{param.productId} and del = 0
    </sql>

    <select id="getListByParam" resultMap="ResultMap">
        select * from cost_price_rule
        <include refid="listWhere"/>
        order by create_date desc
        limit #{param.page} ,#{param.rows}
    </select>

    <select id="getTotalByParam" resultType="java.lang.Integer">
        select count(1) from cost_price_rule
        <include refid="listWhere"/>
    </select>

    <insert id="create">
        insert into cost_price_rule
        (id,create_name,create_date,modify_name,rule_name,product_id,useful,sale_price,renew_price)
        values
        (#{param.id},#{param.createName},now(),#{param.modifyName},#{param.ruleName},#{param.productId},#{param.useful},#{param.salePrice},#{param.renewPrice})
    </insert>


    <delete id="delete">
        update cost_price_rule
        set version = version + 1,
        del = 1,
        modify_name = #{param.modifyName}
        where id = #{param.id}
    </delete>


    <select id="getEntityById" resultMap="ResultMap">
        select * from cost_price_rule
        WHERE id = #{id}
    </select>

    <update id="update">
        update cost_price_rule
        set version = version + 1,
        rule_name = #{param.ruleName},
        useful = #{param.useful},
        sale_price = #{param.salePrice},
        renew_price = #{param.renewPrice},
        modify_name = #{param.modifyName}
        where id = #{param.id}
    </update>

    <select id="getRuleListByProductId" resultMap="ResultMap">
        select * from cost_price_rule
        where product_id = #{param.productId}
        and del = 0
        order by create_date desc
    </select>

</mapper>